<div id="<%= dom_id product %>" >
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Total quantity:</strong>
    <%= product.total_quantity %>
  </p>

  <p>
    <%= button_to "Buy this", checkout_create_path, params: {id: product.id}, remote: true %>
  </p>

</div>
